<html>
    <head>
        <title>llllll</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
        
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-analytics.js"></script>
        <!-- Own CSS + JS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/cv.css') }}">
        <!-- <script src="{{ url_for('static', filename='script/main.js') }}"></script> -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-0 col-md-2 col-lg-3 align-self-center"></div>
                <div class="col-12 col-md-8 col-lg-6 align-self-center">
                    <div class="cv-form text-center">
                        <h3 class="koho"> Hey, I am Adam.</h3>
                        <img src="{{ url_for('static', filename='styles/img/1517032332285.jpeg') }}" class="profile">
                        <p class="koho">
                            I am a 💻👷‍♂️ Lead Software Engineer from Budapest, Hungary 🇭🇺.
                        </p>
                        <h4 class="koho">Education</h4>
                        <p class="koho">
                            <b>Sep 2011 - Mar 2015:</b> 🎓 Computer Science BSc - Specialization in Info-Bionics, Pázmány Péter Catholic University
                        </p>
                        <h4 class="koho">Employment History</h4>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/bosch-vector.jpg') }}" class="logo"><b>Jun 2019 - Present</b> Lead Software Engineer
                            <ul class="koho text-start">
                                <li>
                                    <b>Mar 2020 - Present:</b> DevOps Engineer @ Automated Driving Infrastructure Team
                                </li>
                                <li>
                                    <b>Jun 2019 - Mar 2020:</b> Automated Driving - Perception
                                </li>
                            </ul>
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/bosch-vector.jpg') }}" class="logo"><b>Sep 2015 - Jun 2019</b> Software Engineer
                            <ul class="koho text-start">
                                <li>
                                    <b>Nov 2017 - Jun 2019:</b> Automated Driving - Perception
                                </li>
                                <li>
                                    <b>Sep 2015 - Nov 2017:</b> Driver Assistance Systems - Situation Analysis
                                </li>
                            </ul>
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/bosch-vector.jpg') }}" class="logo"><b>Aug 2014 - Sep 2015</b> Software Engineer Intern
                            <ul class="koho text-start">
                                <li>
                                    C++ Software Engineer Intern on a research & pre-development project
                                </li>
                            </ul>
                        </p>
                        <h4 class="koho">Licences & Certifications</h4>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/gcp.png') }}" class="logo">
                            <b>Apr 2021 - Coursera</b> Elastic Google Cloud Infrastructure: Scaling & Automation
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/gcp.png') }}" class="logo">
                            <b>Jan 2021 - Coursera</b> Google Cloud Platform: Core Services
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/gcp.png') }}" class="logo">
                            <b>Jun 2020 - Coursera</b> Google Cloud Platform: Foundation
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/aws.png') }}" class="logo">
                            <b>May 2020 - Coursera</b> Amazon Web Services: Going Cloud Native
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/gcp.png') }}" class="logo">
                            <b>May 2020 - Coursera</b> Google Cloud Platform: Core Infrastructure
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/coursera.png') }}" class="left-logo">
                            <img src="{{ url_for('static', filename='styles/img/linux.png') }}" class="logo">
                            <b>May 2020 - Coursera</b> Linux For Developers
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/bosch-vector.jpg') }}" class="single-logo">
                            <b>Feb 2020 - Bosch</b> Certified Software Design Expert
                        </p>
                        <p class="koho text-start">
                            <img src="{{ url_for('static', filename='styles/img/isaqb.png') }}" class="isa-logo">
                            <b>Sep 2018 - iSAQB</b> Certified Professional for Software Architecture - Foundation
                        </p>
                        <h4 class="koho">Skills</h4>
                        <p class="koho">
                            <b>Python</b>, C++, Jenkins, Google Cloud, Git, Bash, Linux, Docker, Coffee Drinking, AWS, Hadoop, Flutter, Unity
                        </p>
                        <h4 class="koho">Languages</h4>
                        <p class="koho">
                            🇬🇧 English & 🇭🇺 Hungarian
                        </p>
                        <h4 class="koho">Hobbies</h4>
                        <p class="koho">
                            💻 Competitive Programming, 🕸️ Web development, ✏️ Drawing, ♟️ Chess, 📖 Reading.
                        </p>
                        <h4 class="koho">Links</h4>
                        <p class="koho">
                            <a href="https://www.codingame.com/profile/e214631888ce1967e5e4abc992ac927a2254021">CodinGame</a>, <a href="https://www.linkedin.com/in/adam-halmos-765181a1/">LinkedIn</a>, <a href="https://github.com/xUborka">GitHub</a>
                        </p>
                        <h4 class="koho">Contacts</h4>
                        <p class="koho">
                            <a href="https://www.linkedin.com/in/adam-halmos-765181a1/">LinkedIn</a> or 📧 halmosadam92@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-0 col-md-2 col-lg-3 align-self-center"></div>
            </div>
        </div>
    </body>
</html>