<html>

<head>
    <title>llllll</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-analytics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <!-- Own CSS + JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/translate.css') }}">
    <script src="{{ url_for('static', filename='script/translate.js') }}"></script>
</head>

<body>
    <div class="bg">
        <div class="container-fluid">
            <div class="row">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Page ID</th>
                            <th scope="col">Page Url</th>
                            <th scope="col">Found Words</th>
                            <th scope="col">Link to word list</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in data %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{ key }}</td>
                            <td>{{ data[key]|length }}</td>
                            <td>{{ data[key]|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>