body, html {
    height: 100%;
    width: 100%;
}

.bg { 
    /* The image used */
    /* background-image: url("/static/landing_bg.jpg"); */
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    margin: auto;
}